/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /* font-family: Cinzel , serif; */
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
} */

#main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 998;
  background: rgba(23, 33, 80, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgba(29, 33, 80, 1);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Contact button
--------------------------------------------------------------*/
.contact-button {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 5rem;
  right: 1rem;
  z-index: 999;
  background: green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.contact-button i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.contact-button:hover {
  background: green;
  color: #fff;
}

.contact-button.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background-image: url(../img/coba\ logo.jpg);
  padding: 0;
  object-fit: contain;
}

#header .logo img {
  padding: 0;
  max-height: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
  padding: 0;
  position: static;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  border-radius: 15px 50px;
  text-transform: uppercase;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 18px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(23, 33, 80, 1);
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: white;
}

@media (max-width: 640px) {
  #main-navbar img {
    width: 9rem;
  }

  .navbar a,
  .navbar a:focus {
    font-size: 8px;
    font-weight: bold;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  padding: 0;
  margin: 0;
  max-height: 85vh;
  /* background: linear-gradient(rgba(29, 33, 80, 0.5), rgba(29, 33, 80, 0.2)),
    url("../video/thumbnail\ home.mp4"); */
}

/* #hero video {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
} */

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.video-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
}

/*--------------------------------------------------------------
# Elfisight Widget Customization
--------------------------------------------------------------*/

/* Untuk Tampilan Desktop */
.elfsight-crop-bottom {
    position: relative;
    width: 100%;
    max-height: 385px; /* Batas tinggi desktop */
    overflow: hidden;
}

/* 2. Tablet Mode (768px sampai 1024px - iPad & Android Tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
    .elfsight-crop-bottom {
        max-height: 305px !important; /* Adjust tinggi khusus tablet */
    }
}

/* 3. Mobile Mode (< 768px - Smartphone) */
@media (max-width: 767px) {
    .elfsight-crop-bottom {
        max-height: 275px !important; /* Adjust tinggi khusus mobile */
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0;
  overflow: hidden;
}

.section-title {
  padding: 0;
  text-align: center;
}

.section-title h2 {
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .section-title h2 {
    font-size: 10px;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: white;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.about .p {
  font-size: 10px;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .icon-boxes .icon-box {
  margin-top: 15px;
}

.about .icon-boxes .icon-box h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 14px;
  color: #848484;
}

@media (max-width: 640px) {
  .about .icon-boxes .icon-box {
    margin: 0;
  }
  .about .icon-boxes .icon-box h2 {
    font-size: 10px;
  }

  .about .icon-boxes .icon-box p {
    font-size: 8px;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(29, 33, 80, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: rgba(103, 176, 209, 0.75);
  transition: 0.3s;
  width: 50%;
}

@media (max-width: 640px) {
  .portfolio .portfolio-wrap .portfolio-links a {
    font-size: 13px;
  }
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(103, 176, 209, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #8ec4dd;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

.portfolio .img-fluid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  object-fit: cover;
  flex: 1 1 50%;
}

@media (max-width: 640px) {
  .col-sm-6 {
    margin-bottom: 14px; /* atau berapa pun nilai yang Anda inginkan */
  }

  .portfolio .img-fluid {
    max-height: 200px;
  }
}

.lightbox-content {
  text-align: center;
  padding: 10px;
}
.lightbox-content iframe {
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
#portfolio {
  margin-top: -100px;
}

.portfolio {
  background: white;
}
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #67b0d1;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #67b0d1;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(47, 77, 90, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 21px;
  font-weight: 700;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Pembatas Section
--------------------------------------------------------------*/

.pembatas {
  border: 1px solid grey;
  width: 60%;
}

/*--------------------------------------------------------------
# Brand
--------------------------------------------------------------*/
.contain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(190, 190, 190, 1);
}

.logo-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.brand-logo {
  margin: 10px;
  flex: 1 1 50%;
  max-width: 150px;
  aspect-ratio: 3/2;
  margin: 0 auto;
  object-fit: contain;
}

#brand h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0;
}

@media (max-width: 960px) {
  .brand-logo {
    max-width: 100px !important;
  }
}

@media (max-width: 640px) {
  .brand-logo {
    max-width: 100px !important;
    flex: 1 1 20%; /* Setiap logo akan mengambil minimal 50% dari width kontainer */
  }

  #brand h2 {
    font-size: 10px;
    padding: 0;
  }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team {
  margin-top: -100px;
}

.team {
  background: white;
  background-size: cover;
}

@media (max-width: 640px) {
  #team {
    margin-top: -25px;
  }
}

.team .member {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.team .member:hover .member-info {
  max-height: 300px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

@media (max-width: 640px) {
  .team .member h4 {
    font-size: 10px;
    font-weight: bold;
  }

  .team .member span {
    font-size: 8px;
    font-weight: bold;
  }
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}

.team .member .social a:hover {
  color: #67b0d1;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 15px 0;
  color: #fff;
  font-size: 13px;
  background-image: url(../img/coba\ logo.jpg);
}

#footer-description {
  margin-top: 10px;
  color: #fff;
}

#footer .copyright {
  border-top: 1px solid #385b6b;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #f2d361;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 50px 0;
  }
  video {
    height: 250vh;
  }
}

@media (max-width: 640px) {
  #footer {
    font-size: 9px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%; /* Rasio aspek 16:9 */
}
.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}